body {
	background-color: #0d0d0d;
	color: #ffffff;
}

.center {
	text-align: center;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

a {
	color: rgb(75, 75, 255);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.project {
	border-radius: 5px;
	background-color: #171717;
	cursor: pointer;
}

.projectName {
	color: white;
	font-size: 30px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.projectDescription {
	color: white;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}